.asset-image {
  width: auto;
  height: 50px;
  object-fit: pixelated;
}

.card-wrapper {
  margin-bottom: 30px;
  padding: 10px;
  border: 2px solid greenyellow;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-wrapper.error {
  border-color: red;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}